<a href="{{ product.url }}" class="product-card">
  <div class="product-card__media">
    {%- if product.featured_image -%}
      {{ product.featured_image | image_url: width: 800 | image_tag: loading: 'lazy', widths: '400,600,800' }}
    {%- else -%}
      <img src="{{ 'lookbook-1.jpg' | asset_url }}" alt="{{ product.title }}">
    {%- endif -%}
  </div>
  <h3 class="product-card__title">{{ product.title }}</h3>
  <div class="product-card__price">{{ product.price | money }}</div>
</a>
